@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic-ext,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300&subset=latin,cyrillic-ext,cyrillic);

.page, .page ul{
    font-size: 18px;
}

#hrono-calc{
    text-align: center;
}
.hrono-textarea{
    width:24%;
    height:400px;
    font-family: 'Roboto Slab', serif;
    font-size: 0.875em;
}
.hrono-textarea-result{
    width:0;
    height: 0;
    display: none;
    visibility: hidden;
}
.hrono-result{
    width:50%;
    height:400px;
    padding: 5px 0;
    display: inline-block;
    background-color: #768593;
    overflow: hidden;
    overflow-y: auto;
    color:#fff;
    font-family: 'Roboto Slab', serif;
    font-size: 0.875em;
    font-weight: bold;
    text-align: left;
    *zoom:1;
    *display: inline;
}
.hrono-result .digitConverted{
    color:aquamarine;
}
.hrono-result .wordConverted{
    color:bisque;
}
.hrono-text h2{
    margin: 0;
}
.hrono-text{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 0.875em;
    background-color: #EDEAE4;
    text-align: left;
    padding: 5px 0;
}
.hrono-stat{
    width:24%;
    height: 400px;
    display: inline-block;
    vertical-align: top;
}

.hrono-stat-data{
    width:100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.hrono-stat-data tr:nth-child(even){
    background-color: #dDdAd4;
}
.hrono-stat tr:nth-child(odd){
    background-color: #fDfAf4;
}
.hrono-stat-data .props{

}
.hrono-stat-data .val{
    text-align: right;
}
.hrono-text .hint{
    font-size:0.875em;
    color:brown;
}
.hrono-text .hint-correct{
    font-size:0.875em;
    color:darkgreen;
}